@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.product-list {
  margin: 0 auto;
  width: 100%;
  @include custom-scroll-bar(white, white);

  .list {
    padding: $baseSpacing;
    margin: 0 auto;
    display: flex;
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - #{$headerHeight});
  }
}
