@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.cart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  margin: $baseSpacing * 2;
  padding: $baseSpacing;
  border-radius: $borderRadius;
  background-color: white;
  height: calc(100% - (#{$baseSpacing} * 4));

  @include custom-scroll-bar($primary, $secondary);
  @include shadow;

  .cart-orders-list {
    border-radius: $borderRadius;
    overflow-y: scroll;
    height: calc(80vh - (#{$baseSpacing} * 4) - #{$headerHeight});

    .order-item:last-child {
      margin-bottom: 0;
    }
  }

  .cart-total-price {
    display: flex;
    flex: 0.5;
    justify-content: space-around;
    padding-bottom: $baseSpacing;
    border-bottom: 1px solid $light;

    .total-label {
      text-align: right;
      font-weight: bold;
      font-size: 0.8em;
    }

    .total-label-amount {
      @include product-price($primary);
      text-align: right;
    }
  }

  .checkout-button {
    @include background-grandient-darken($primary, $darkenPercent);
    color: white;
    padding: $baseSpacing;
    border-radius: $borderRadius;
    font-weight: bold;
    border: none;
  }
}