@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.product-preview {
  padding: 0;

  .product-preview-content {
    border-radius: $borderRadius;
    margin: $baseSpacing;
    @include shadow;

    .product-image {
      height: $productImageBaseHeight;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include top-border-radius($borderRadius);
    }

    .product-body {
      padding: $baseSpacing;
      background-color: white;
      @include bottom-border-radius($borderRadius);

      .product-name {
        display: block;
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .product-body-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: $baseSpacing;
        align-items: center;

        button.add-to-cart {
          border-radius: $borderRadius;
          background-color: white;
          color: darken($primary, $darkenPercent);
          border: 1px solid $primary;
          padding: $baseSpacing / 2;
          font-size: 0.6em;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;

          svg {
            margin-right: $baseSpacing / 2;
          }
        }
  
        .product-price {
          @include product-price($secondary)
        }
      }

    }

    .favorite-heart {
      right: $baseSpacing;
      top: $baseSpacing;
      position: absolute;
      cursor: pointer;

      svg.favorite {
        fill: $favorite;
      }

      svg.non-favorite {
        fill: $light;
      }
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .product-preview {

    .product-preview-content {

      .product-body {
        text-align: right;
        .product-body-bottom {
          display: block;
          button.add-to-cart {
            font-size: 0.55em;
            width: 100%;
            justify-content: center;
            margin-top: $baseSpacing;
          }
        }
      }
    }
  }
}