@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.App {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: calc(100vh - #{$headerHeight});
  width: 100%;
}

.app-content {
  height: 100%;
}
