@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

// Flexboxgrid
@import '~flexboxgrid/css/index.css';
@import '~flexboxgrid-helpers/dist/flexboxgrid-helpers.min.css';


* {
  box-sizing: border-box;
}

body {
  background-color: $light;
  font-size: $baseFontSize;
  color: $dark;
  margin: 0;
  font-family: 'Helvetica Nueue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
