@import 'scss/vars';

@mixin background-grandient-darken($bgColor, $darkenPercent) {
  background: $bgColor;
  background: linear-gradient(90deg, darken($bgColor, $darkenPercent) 0%, lighten($bgColor, $darkenPercent) 35%, darken($bgColor, $darkenPercent) 80%);
}

@mixin top-border-radius($borderRadius) {
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

@mixin bottom-border-radius($borderRadius) {
  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
}

@mixin product-price($color) {
  color: $color;
  font-size: 0.8;

  &::before {
    content: '$';
    font-style: italic;
    font-size: 0.6em;
    margin-right: $baseSpacing / 4;
  }
}

@mixin shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

@mixin background-image-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin custom-scroll-bar($primary, $secondary) {
  ::-webkit-scrollbar {
    width: $scrollBarWidth;
    height: 6px;
    @include shadow;
  }

  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background: $secondary;
    border: 0px none white;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }

  ::-webkit-scrollbar-thumb:active {
    background: $primary;
  }

  ::-webkit-scrollbar-track {
    background: darken($color: $secondary, $amount: 20);
    border: 0px none #ffffff;
    border-radius: 0;
  }

  ::-webkit-scrollbar-track:hover {
    background: darken($color: $primary, $amount: 20);
  }

  ::-webkit-scrollbar-track:active {
    background: darken($color: $primary, $amount: 20);
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}