$baseFontSize: 18px;
$darkenPercent: 20;
$baseSpacing: 10px;
$borderRadius: 6px;
$productImageBaseHeight: 170px;

// Breakpoints
$bp-small: 425px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;