@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.product-container {
  height: 100%;

  .cart-container-wrapper {
    padding-left: 0;
  }

  .product-list-wrapper {
    padding-right: 0;
  }

  .product-list-error {
    margin: $baseSpacing;
    padding: $baseSpacing;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


}

@media only screen and (min-width: $bp-large) and (max-width: $bp-large + 1) {
  .ipad-pro-fix {
    display: flex !important;
  }
}
