@import 'scss/vars';
@import 'scss/colors';
@import 'scss/mixins';

.header {
  position: relative;
  z-index: 2;
  background-color: white;
  height: $headerHeight;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include shadow;

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
    }

    .left-icons {
      cursor: pointer;
      position: relative;
      .favorite-icon svg {
        fill: red;
      }

    }

    .cart-icon {
      cursor: pointer;
      position: relative;

      .items-in-cart-count {
        padding: $baseSpacing / 4;
        font-size: 0.6em;
        border-radius: $borderRadius;
        font-weight: bold;
        position: absolute;
        margin-left: $baseSpacing / 2;
      }
    }
  }

}